{% extends "base.html" %}

{% block content %}
<div id="apps">
<div id="me">
<div class="pic_thumb"><img src="{{ user.profilepicture.original_image.thumbnail }}" width="50" height="50" /></div>
<p>{{ user.get_full_name }}</p>
</div>
</div>
<div id="stream-container">
    <div id="stream">
    <h2>Flightline</h2>
    <p>What's on your mind? Wait - scratch that; I don't care.</p>

    <ul id="stream-items">
    {% for item in stream %}
        <li>
            {{ item.get_rendered_html }}
        </li>
    {% endfor %}
    </ul>

    </div>

    <div id="meta">

    </div>
</div>
{% endblock content %}
